<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<title>Partials</title>
</head>
<body>
<nav>
  <a href="https://praia.digital/">Início</a>
  <a href="https://praia.digital/blog/">Blog</a>
  <a href="https://praia.digital/education/index.html">Academy</a>
  <a href="https://praia.digital/education/formacoes/index.html">Formações</a>
  <a href="https://praia.digital/noticias/index.html">Notícias</a>
  <a href="https://wa.me/5511954346288" class="nav-highlight-sale">Fale conosco</a>
</nav>
</body>
</html>
