<header>
  <a href="https://praia.digital/" class="logo">Praia Digital</a>
  <nav aria-label="Navegação principal">
    <a href="https://praia.digital/">Início</a>
    <a href="https://praia.digital/blog/">Blog</a>
    <a href="https://praia.digital/education/index.html">Academy</a>
    <a href="https://praia.digital/education/formacoes/index.html">Formações</a>
    <a href="https://praia.digital/corretores/cadastrar-imovel.html">Corretores</a>
    <a href="https://praia.digital/afiliados/index.html">Afiliados</a>
    <a href="https://praia.digital/noticias/index.html">Notícias</a>
    <a href="https://wa.me/5511954346288" class="nav-highlight-sale">Fale conosco</a>
  </nav>
</header>
