# Academy / FastAPI
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=20160

# Database
DATABASE_URL=

# E-mail / SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

# WhatsApp / Meta
WA_VERIFY_TOKEN=
WA_PHONE_NUMBER_ID=
WA_ACCESS_TOKEN=
WHATSAPP_API_URL=
WHATSAPP_PHONE_ID=
WHATSAPP_TOKEN=

# Pagamentos
MERCADOPAGO_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
HOTMART_TOKEN=
HOTMART_SECRET=
PAYMENT_SECRET=
STRIPE_SECRET=
